:root{
    --white : #F9F2ED;
    --blue : #3AB0FF;
    --orange : #FFB562;
    --red : #F87474;
    --darkbrown : #1C0A00;
    --brown : #361500;
    --lightbrown : #603601;
    --mustard : #CC9544;
    --sm: 1em;
    --md: 1.5em;
    --lg: 1.8em;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--red);
    border-radius: 2px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;  
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--white);
    border: 4px solid var(--darkbrown);

}
h2{
    font-size: var(--md);
    color: var(--brown);
    text-align: center;
}
h2.finalPrice{
    color: white;
    background-color: var(--lightbrown);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-top: 12px;
    text-align: center;
    font-size: 40px;

    
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items:flex-start;
    justify-content: center;
    border-radius: 2em; 
    text-align: center;
}

.square_section,
.circle_section,
.triangle_section{
    display: flex;
    flex-direction: column;

}
.circle_section{
    display: flex;
    flex-direction: column;
    border: solid 8px var(--olive);

}
.triangle_section{
    display: flex;
    flex-direction: column;
    border: solid 8px var(--olive);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    width: 300px;
    color: var(--brown);
}
.input {
    background-color: var();
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 50%;
    font-size: var(--md);
    padding: 6px;
    margin: 12px;
}
.primary-button {
    background-color: var(--orange);
    border-radius: 8px;
    border: none;
    color: var(--black);
    width: 50%;
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    height: 50px;
    margin: 8px;
}
.social{
    position: absolute;
    left: 890px;
    top: 1050px;
}
.result{
    background-color: var(--blue);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    margin: 8px;
    text-align: center;
}
img{
    width: 50px;
    height: 100%;
    margin: 10px;
}
p {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    width: 300px;
}
hr.rounded {
   display: none;
}


  
@media (max-width: 640px) {
    .section{
        display: grid;
        grid-template-columns: 1fr;
    }
    hr.rounded {
        display: block;
        width: 100%;
        border-top: 8px solid var(--black);
        border-radius: 2px;
    }
    .social{
        display: none;
    }
}